#technologies {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    padding: 40px 0;
}

.technologies__image {
    margin: 0 20px;
}